body {
    font-family: 'Montserrat', sans-serif;
}

.d-footer {
    background-color: rgb(77, 77, 77);
    height: auto;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.bg-gray {
    background-color: rgb(43, 42, 42);
}

.d-carousel-text {
    font-size: 3rem;
}

.d-bg-text-carousel {
    background-color: rgba(255, 255, 255, 0.527);
    /* border-radius: 10px; */
}

.d-nav-background {
    background-color: rgba(255, 255, 255, 0.87);
    -webkit-box-shadow: 0px 11px 31px 10px rgba(42,58,56,0.63);
    box-shadow: 0px 11px 31px 10px rgba(42,58,56,0.63);
}

.d-nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.d-h-70 {
    height: 70vh;
}

h2 {
    font-size: 2.8rem;
}

.d-margin-none {
    margin: none;
}

.card {
    border: 0px solid gray;
    background-color: rgb(112, 112, 112);
    /* -webkit-box-shadow: 0px 11px 31px 10px rgba(42,58,56,0.63);
    box-shadow: 0px 11px 31px 10px rgba(42,58,56,0.63); */
}

.d-map {
    margin-top: 200px;
}

.d-bg-clear {
    background-color: rgb(160, 156, 156);
}

.d-button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    transition: all 0.3s;
}

.d-button:hover {
    background-color: #222222;
    color: white;
}

.d-empty-space {
    background-color: white;
    height: 170px;
}

.d-bg-gray {
    background-color: rgb(211, 207, 207);
}

.dark-mode {
    background-color: black;
    color: white;
}
